body{
    background: url("img/bg.jpg") no-repeat;
    background-size: cover;
}
.container{
    width: 800px;
    margin: 0 auto;
    padding: 0;
    margin-top: 50px;
}
.navigation{
    margin-bottom: 25px;
}
.block{
    background: #fff;
    width: 800px;
    min-height: 380px;
    margin: 0 auto;
    padding: 15px;
    padding-top: 25px;
    border-radius: 5px;
    margin-bottom: 120px;
    position: relative;

}
.view__img{
    width: 130px;
    height: 130px;
    border-radius: 5px;
    border: 1px solid;
    background: #eee;
    border-color: #cccccc;
    margin-bottom: 10px;

}
.col-md-3.col-lg-3.col-xs-3{
    max-width: 140px;
    margin-left: 9px;
    margin-right: 9px;
    padding: 0;
    text-align: center;
}
.row{
    margin: -10px;
}
.add__img{
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 200px;
    height:200px;
    margin-bottom: 15px;
    background: #eee;

}
.file{
    width: 200px;
    height:200px;
    position: absolute;
    opacity: 0;
    left: 100px;
}
.save-btn{
    float: left;
    margin-left: 80px;
}
.remove-btn{
    float: right;
    margin-right: 82px;
}
.add__form{
    padding-top: 45px;
}
.form-control:focus{
    box-shadow: none;
}
input.ng-invalid.ng-touched {
    border-color: #FA787E;
    outline-color: #FA787E;
}

input.ng-valid.ng-touched {
    border-color: #cccccc;
}
.alert{
    margin-top: -40px;
}
.tooltip.top{
      margin-top: -36px;
    margin-left: 115px;
}
.tooltip{
    display: inline-block;
    opacity: 1;
}
